In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv("data_1st.csv")

In [3]:
data.head()

,original_title,overview,genres
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","['Animation', 'Comedy', 'Family']"
1,Jumanji,When siblings Judy and Peter discover an encha...,"['Adventure', 'Fantasy', 'Family']"
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"['Romance', 'Comedy']"
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","['Comedy', 'Drama', 'Romance']"
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,['Comedy']

In [4]:
data.describe()

       original_title            overview     genres
count           45466               44512      43024
unique          43373               44307       4068
top            Hamlet  No overview found.  ['Drama']
freq                8                 133       5000

In [5]:
sum(data['genres'].isnull())

2442

In [6]:
data_nn = data.dropna(axis=0).reset_index(drop=True)
data_nn.describe()

       original_title            overview     genres
count           42327               42327      42327
unique          40380               42149       4048
top            Hamlet  No overview found.  ['Drama']
freq                8                 120       4910

In [7]:
len(data_nn)

42327

In [8]:
genres = {}
n = 0
for i in data_nn['genres']:
    if i == "[]":
        print(i)
    else:
        list = i.split("'")
        lst = []
        for item in list:
            if item.isalpha():
                if item not in genres:
                    genres[item] = 1
                else:
                    genres[item] += 1
                lst.append(item)
            data_nn[item] = 1

In [9]:
genres

{'Animation': 1920,
 'Comedy': 12806,
 'Family': 2732,
 'Adventure': 3470,
 'Fantasy': 2290,
 'Romance': 6673,
 'Drama': 20023,
 'Action': 6565,
 'Crime': 4269,
 'Thriller': 7586,
 'Horror': 4660,
 'History': 1379,
 'Mystery': 2451,
 'War': 1310,
 'Foreign': 1599,
 'Music': 1588,
 'Documentary': 3886,
 'Western': 1035,
 'Aniplex': 1,
 'GoHands': 1}

In [44]:
len(genres)

20

In [65]:
del genres['Aniplex'], genres['GoHands']
len(genres)

18

In [66]:
genres

{'Animation': 1920,
 'Comedy': 12806,
 'Family': 2732,
 'Adventure': 3470,
 'Fantasy': 2290,
 'Romance': 6673,
 'Drama': 20023,
 'Action': 6565,
 'Crime': 4269,
 'Thriller': 7586,
 'Horror': 4660,
 'History': 1379,
 'Mystery': 2451,
 'War': 1310,
 'Foreign': 1599,
 'Music': 1588,
 'Documentary': 3886,
 'Western': 1035}

In [98]:
for gen in genres.keys():
    data_nn[gen] = [0] * len(data_nn)
len(data_nn)

42327

In [99]:
data_nn

,original_title,overview,genres,Animation,Comedy,Family,Adventure,Fantasy,Romance,Drama,...,Crime,Thriller,Horror,History,Mystery,War,Foreign,Music,Documentary,Western
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","['Animation', 'Comedy', 'Family']",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,When siblings Judy and Peter discover an encha...,"['Adventure', 'Fantasy', 'Family']",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"['Romance', 'Comedy']",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","['Comedy', 'Drama', 'Romance']",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,['Comedy'],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42322,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,['Science Fiction'],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42323,Robin Hood,"Yet another version of the classic epic, with ...","['Drama', 'Action', 'Romance']",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42324,رگ خواب,Rising and falling between a man and woman.,"['Drama', 'Family']",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42325,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,['Drama'],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42326,Betrayal,"When one of her hits goes wrong, a professiona...","['Action', 'Drama', 'Thriller']",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
n = 0
for gen in genres.keys():
    for i in data_nn['genres']:
        if gen in i:
            data_nn.loc[n,[gen]] = 1
            #data_nn[gen][n] = 1
        n += 1
    print(n == len(data_nn))
    n = 0

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [89]:
data_nn.loc[1, ['Animation']]

Animation    1
Name: 1, dtype: object

In [94]:
data_nn

,original_title,overview,genres,Animation,Comedy,Family,Adventure,Fantasy,Romance,Drama,...,Crime,Thriller,Horror,History,Mystery,War,Foreign,Music,Documentary,Western
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","['Animation', 'Comedy', 'Family']",1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,When siblings Judy and Peter discover an encha...,"['Adventure', 'Fantasy', 'Family']",0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"['Romance', 'Comedy']",0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","['Comedy', 'Drama', 'Romance']",0,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,['Comedy'],0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42322,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,['Science Fiction'],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42323,Robin Hood,"Yet another version of the classic epic, with ...","['Drama', 'Action', 'Romance']",0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
42324,رگ خواب,Rising and falling between a man and woman.,"['Drama', 'Family']",0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
42325,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,['Drama'],0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
42326,Betrayal,"When one of her hits goes wrong, a professiona...","['Action', 'Drama', 'Thriller']",0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [97]:
data_nn.to_csv('C:/Users/Jooeun Kim/Desktop/NLP/data_2nd.csv',index = False)